@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Fira Sans", serif;
}

.btn-style {
    width: 116px;
    height: 52px;
    font-size: 18px;
    border-radius: 8px;
    color: #006A50;
    border-color: #006A50;
    /* border: none; */
}

.btn-basic {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    border-radius: 8px;
    border: none;
    color: #006A50;
}

main {
    width: auto;
}

/* body{ */
/* max-width: 1300px; */
/* margin:0 auto */
/* } */

/* nav styles */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 160px 30px 150px;
}

header {
    padding-bottom: 80px;
    padding-top: 10px;
}

.btn-explorer {
    width: 270px;
    height: 56px;
    color: white;
    border-radius: 8px;
    background-color: #006A50;
    border: none;
}

/* banner style */

.banner {
    display: flex;
    justify-content: space-between;
    /* gap: 200px; */
    /* border: 100px 500px; */
    background-color: #C6E4D6;
    /* max-width: 1280px; */
    /* max-height: 560px; */
    align-items: center;
    /* justify-content: space-between; */
    padding: 90px 60px;
    margin: 20px 160px;
    border-radius: 24px;

}

.banner-description {
    margin-top: 16px;
}

.banner-pic {
    width: 500px;
}

.banner-content {
    background-color: #FFFFFF;
    /* max-width: 2900spx; */
    /* padding-left: 59px; */
    /* padding-top: 117pxx; */
    /* padding-bottom: 200px; */

}

/* pillers of bd */

.pillers-bd {
    font-weight: 700opx;
    font-size: larger;
}

.pillars {
    /* margin: 80px 160px; */
    /* margin-top: 80px; */
    padding: 80px 160px;
}

.section-title {
    font-weight: 40px;
    /* font-size: 200; */
    color: #0E0E0E;
    margin: 24px 0px;
}

/* pillars section  */

.pillars-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.pillar {
    padding: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
    border-radius: 16px;
    width: 302px;
}

.pillar-description {
    color: rgba(14, 14, 14, 0.7);
}

.skill-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 700;
}

/* vision */
#vision {
    /* text-align: center; */
    /* width: 1280px; */
    padding: 0px 160px;
    /* align-items: center; */
    margin-bottom: 32px;
}

.vision-heading {
    font-size: 40px;
    margin-bottom: 24px;
    color: blacks;
}

.vision-pra {
    border-bottom: 50px;
}

.card-container {
    display: flex;
    /* justify-content: space-around; */
    gap: 30px;
    /* padding: 0px 160px; */
    /* align-items: center; */
}

.card1 {
    background-color: rgba(84, 144, 245, 0.2);
    padding: 32px;
    border-radius: 16px;
}

.card2 {
    background-color: rgba(198, 228, 214, 1);
    padding: 32px;
    border-radius: 16px;
}

.card3 {
    background-color: rgba(247, 235, 207, 1);
    padding: 32px;
    border-radius: 16px;
}

.card-container,
.vision_description {
    color: rgba(14, 14, 14, 0.7);
    padding-bottom: 35px;
}

.card-container,
.vision-heading {
    color: rgba(14, 14, 14, 0.8);
}

.btn-size {
    width: 122px;
    height: 41px;
    padding: 11px 20px;
    font-size: 16px;
}

.card-container .learn-more-1 {
    background-color: #5490F5;
    /* width: 122px; */
    /* height: 41px; */
    text-decoration: none;
    border-radius: 8px;
    color: white;
    /* font-size: larger; */
}

.card-container .learn-more-2 {
    background-color: #09A15C;
    width: 122px;
    height: 41px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    /* font-size: 16px; */
}

.learn-more-3 {
    background-color: #FFC239;
    width: 122px;
    border-radius: 8px;
    color: white;
    text-decoration: none;

}

/* quote */

.quote {
    margin: 0px auto;
    max-width: 1700px;
    /* align-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    /* padding-bottom: 50px; */
    /* background-color: rgba(14, 14, 14, 0.15); */

}

.quote-description {
    /* box-sizing: border-box; */
    /* padding: 48px 24px 48px 24px; */
    /* color: rgba(14, 14, 14, 0.15); */

    /* border-radius: 14px; */
}

.quote-container {
    border: 1px solid rgba(74, 74, 74, 0.602);
    border-radius: 16px;
    padding: 48px 24px 48px 24px;
}

.quote-container h3 {
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: -10px;
}

.quoate-des {
    margin-top: -40px;
}

.colorq {
    color: (14, 14, 14, 0.6);
    font-family: "Fira Sans", serif;

}

/* opinion */

.opinion {
    width: 1700px;
    /* justify-content: center; */
    margin: 0px auto;
}

.coloro {
    color: #C6E4D6;
}

table {
    width: 1700px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.1);
    border: 1px rgba(9, 161, 92, 0.15);

}


.opinion-content {
    padding: 32px;
    margin: 24px 0px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

#opinion-select {
    width: 152px;
    color: rgb(39, 39, 39);
    font-size: 18px;
    font-weight: 600;
    padding: 10px 14px 10px 14px;
    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;
    background: rgba(9, 161, 92, 0.15);
}

table th,
td {
    color: rgb(14, 14, 14);
    font-size: 20px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    margin: 0px 12px;
    padding: 24px;
    border-right: 1px solid rgba(14, 14, 14, 0.15);
    background: rgba(255, 255, 255, 0.1);
}

/* news */

.newsdiv {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 48px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    margin: 24px 0px;
    width: 1720px;
    margin: 0px auto;
}

.section-title {
    color: rgb(14, 14, 14);
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin: 24px 0px;
}

.recent-news {
    margin: 0px auto;
    width: 1720px;
}

.news-image img {
    width: 380px;
    height: 280px;
    /* padding: 20px; */
    border-radius: 24px;

}

.al-jazeera {
    width: 134px;
    height: 40px;
    margin: 12px 0px;
    display: block;
}

.news-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
    margin: 12px 0px;
}

.news-description {
    margin: 12px 0px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.news-button {
    padding: 13px 26px 13px 26px;
    margin: 32px 0;
    color: #F7EBCF;
    background-color: #006A50;
}

.section-description {
    margin: 12px 0px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.news-reverse {
    flex-direction: row-reverse;
}

/* donation */

.donation {
    width: 1500px;
    margin: 0 auto;
    padding: 40px 0;
}

.donation .section-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: #09A15C; */
    font-weight: 700;
    font-size: 40px;
    color: #0E0E0E;
}

.donation-button {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: flex-start;
}

.donation-btn {
    padding: 40px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0%;
    font-weight: 700;
    text-align: left;
    margin: 12px 0px;
}

.color-btn {
    background-color: #C6E4D6;
}

.input-section {
    text-align: center;
}

.otr-amount {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
    background: rgb(255, 255, 255);
    border: none;
    font-size: 23px;
    padding: 20px 40px;
    text-align: center;
    margin-top: 34px;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
}

.sunmit-btn {
    text-align: center;
    padding: 17px 34px;
    background: rgb(0, 106, 80);
    color: #F7EBCF;
    margin: 32px 0px;
    font-weight: 600;
}

/* subscription section */
.subs-main {
    width: 750px;
    margin: 0 auto;
}

.subscription {
    padding: 80px 100px;
    border-radius: 24px;
    width: 1280px;
    margin: 0 auto;
}

.subscription-main {
    width: 750px;
    margin: 0 auto;
}

.sbs-header {
    padding: 24px 0;
    width: 80%;
    margin: 0 auto;
}

.sbs-input-container {
    display: flex;
    /* text-align: left; */
}

.sbs-input-container input {
    width: 600px;
    padding: 18px 40px;
    background: rgb(255, 255, 255);
    border: none;
    outline: none;
    font-size: 18px;
    text-align: left;
    border-radius: 8px 0px 0px 8px;
}

.sbs-input-container button {
    color: #FFFFFF;
    width: 150px;
    padding: 17px 34px;
    border-radius: 0px 8px 8px 0px;
    background-color: #006A50;
}

.subscription-footer {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    F letter-spacing: 0%;
    margin: 24px 0px;
}

footer {
    width: auto;
    height: 226px;
}

.footer-container {
    padding: 80px 160px 50px 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.imagebox img {
    padding: 10px;
}